* {
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}

:focus {
 /* TODO */
}

body {
  background-image: linear-gradient(to bottom right, red, yellow);
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  font-size: 18px;
  color:black;
}

.search-container {
  align-items: center;
 width: 300px;
 background: blue;
 margin: 200px auto 0;
 border-radius: 5px;
}
.row{
  display:flex;
  align-items: right;
  padding: 10px 20px;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {

}

.suggestions ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}
ul.has-suggestions {
  /* TODO */
}
.suggestions li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
}
.suggestions li:hover {
  background: #e9f3ff;
}

input {
  /*TODO*/
}
::placeholder{
  color: brown;
}